body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #121212;
  color: #ffffffde;
}
header {
  padding: 0.5rem;
  background: #1f1a24;
  text-align: center;
  font-size: 2rem;
}
header h1 {
  margin: 0.5rem;
}
.component-render {
  box-sizing: border-box;
  display: flex;
  padding: 1rem;
  height: 70vh;
}
textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}
.text-area {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 1rem;
  text-align: center;
}
.text-area h2 {
  padding-top: 1rem;
  width: 100%;
  margin: 0;
}
.input-main {
  color: #ffffffde;
  background: #1f1a24;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  margin-right: 0.5rem;
  padding: 1rem;
  border-radius: 10px;
}
.result-main {
  background: rgb(255, 255, 255);
  color: black;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  margin-left: 0.5rem;
  padding: 1rem;
  border-radius: 10px;
  overflow: auto;
}
.result-main h1,
p {
  margin: 0.5rem 0;
}
@media (max-width: 500px) {
  header {
    font-size: 1rem;
  }
  .text-area h2 {
    font-size: 1rem;
  }
}
